In [3]:
#Consider following code to answer further questions:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [14]:
df[['course_name','duration']][1:2]

        course_name  duration
1  Machine Learning         3

In [16]:
# OR,
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [17]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [18]:
# Both loc and iloc are methods in pandas that allow you to select data from a DataFrame, but they differ in how they handle the selection of rows and columns.

# The loc method is used to select data by label. This means you can specify the row and column labels and it will return the corresponding data. 
# For example, if you have a DataFrame df with row labels "A", "B", "C" and column labels "X", "Y", "Z", you can use df.loc['B', 'Y'] to select the data in the second row and second column

# On the other hand, the iloc method is used to select data by integer position. This means you can specify the row and column positions and it will return the corresponding data.
# For example, if you have a DataFrame df with three rows and three columns, you can use df.iloc[1, 1] to select the data in the second row and second column.

# In summary, loc is used for label-based indexing and iloc is used for integer-based indexing.

In [19]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
#then find the output for both new_df.loc[2] and new_df.iloc[2].
#Did you observe any defference in both the outputs?if so then explain it.

In [20]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [23]:
new_df = df.reindex([3,0,1,2])

In [24]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [25]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [26]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [27]:
# loc is used for label-based indexing and iloc is used for integer-based indexing.

In [29]:
#Consider the below code to answer further questions:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [30]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

# (i) 	mean of each and every column present in the dataframe.

# (ii) standard deviation of column, ‘column_2’

In [31]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.738054  0.788431  0.768069  0.539030  0.991428  0.454123
2  0.276111  0.060664  0.220026  0.351713  0.443959  0.218355
3  0.281329  0.151329  0.997563  0.932687  0.313838  0.370352
4  0.312563  0.847590  0.424525  0.852501  0.362210  0.456529
5  0.028986  0.009818  0.559756  0.548652  0.093930  0.422952
6  0.228813  0.070768  0.572202  0.787246  0.927253  0.738856

In [32]:
df1.mean()

column_1    0.310976
column_2    0.321433
column_3    0.590357
column_4    0.668638
column_5    0.522103
column_6    0.443528
dtype: float64

In [34]:
df1['column_2'].std()

0.38776302284035863

In [35]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
# mean of column, column_2.

# If you are getting errors in executing it then explain why.

# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [48]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.738054  0.788431  0.768069   0.53903  0.991428  0.454123
2  0.276111  0.060664  0.220026  0.351713  0.443959  0.218355
3  0.281329  0.151329  0.997563  0.932687  0.313838  0.370352
4  0.312563   0.84759  0.424525  0.852501   0.36221  0.456529
5  0.028986  0.009818  0.559756  0.548652   0.09393  0.422952
6  0.228813  0.070768  0.572202  0.787246  0.927253  0.738856

In [50]:
df1.loc[2, 'column_2'] = 'saurabh'

In [51]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.738054  0.788431  0.768069   0.53903  0.991428  0.454123
2  0.276111   saurabh  0.220026  0.351713  0.443959  0.218355
3  0.281329  0.151329  0.997563  0.932687  0.313838  0.370352
4  0.312563   0.84759  0.424525  0.852501   0.36221  0.456529
5  0.028986  0.009818  0.559756  0.548652   0.09393  0.422952
6  0.228813  0.070768  0.572202  0.787246  0.927253  0.738856

In [53]:
df1.mean()

/tmp/ipykernel_93/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.310976
column_3    0.590357
column_4    0.668638
column_5    0.522103
column_6    0.443528
dtype: float64

In [54]:
#Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [55]:
# In Pandas, a window function is a way to perform calculations on a rolling window of data. It is a technique to perform calculations on a specific subset of data known as a window, 
# which slides or moves over the dataset.

# Window functions operate on a group of rows called a window frame. The window frame is defined by a set of rows that are used to perform the calculation. 
# The calculation is applied to each window frame in the data set and returns a new value for each row in the data set.

# There are several types of window functions available in Pandas:

# Rolling window functions - This type of window function calculates values based on a sliding window of a fixed size. For example, the rolling mean, rolling sum, 
# and rolling standard deviation are rolling window functions.

# Expanding window functions - This type of window function calculates values based on a growing window that includes all the rows up to the current row. 
# For example, the expanding sum, expanding max, and expanding min are expanding window functions.

# Exponentially weighted window functions - This type of window function applies exponentially decreasing weights to the data in the window frame, 
# with the most recent data points getting higher weights. For example, the exponentially weighted moving average is an exponentially weighted window function.

# Grouped window functions - This type of window function performs calculations based on groups within the data set. 
# It splits the data into groups and applies a window function to each group separately. 
# For example, the groupby method in Pandas can be used to group data and perform window functions on each group separately.

# Window functions with custom functions - Pandas allows us to define custom functions and apply them to the window frame. For example, we can define a custom

In [56]:
#Q7. Write a code to print only the current month and year at the time of answering this question.

#[Hint: Use pandas.datetime function]

In [61]:
import pandas as pd

# Get the current date and time
current_datetime = pd.datetime.now()

# Extract the month and year from the current date and time
current_day = current_datetime.day
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current day month and year:--", current_day,current_month, current_year)

Current day month and year:-- 23 3 2023

/tmp/ipykernel_93/173794833.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_datetime = pd.datetime.now()

In [62]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
# program should prompt the user to enter the dates and display the result.

In [63]:
import pandas as pd

# Prompt user to enter the dates in YYYY-MM-DD format
start_date_str = input("Enter the start date in YYYY-MM-DD format: ")
end_date_str = input("Enter the end date in YYYY-MM-DD format: ")

# Convert the input strings to datetime objects
start_date = pd.to_datetime(start_date_str)
end_date = pd.to_datetime(end_date_str)

# Calculate the time difference using pandas time delta function
time_diff = end_date - start_date

# Extract the days, hours, and minutes from the time difference
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds % 3600) // 60

# Display the result to the user
print("Time difference between", start_date_str, "and", end_date_str)
print("Days:", days_diff)
print("Hours:", hours_diff)
print("Minutes:", minutes_diff)

Enter the start date in YYYY-MM-DD format:  2023-02-22
Enter the end date in YYYY-MM-DD format:  2023-03-23

Time difference between 2023-02-22 and 2023-03-23
Days: 29
Hours: 0
Minutes: 0

In [64]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
# column to a categorical data type. The program should prompt the user to enter the file path, column 
# name, and category order, and then display the sorted data.

In [3]:
import pandas as pd

# Prompt user to enter file path
file_path = input("Enter file path: ")

# Read CSV file into DataFrame
df = pd.read_csv(file_path)

# Prompt user to enter column name
col_name = input("Enter column name to convert to categorical: ")

# Prompt user to enter category order
cat_order = input("Enter category order separated by commas: ").split(",")

# Convert column to categorical data type with specified category order
df[col_name] = pd.Categorical(df[col_name], categories=cat_order, ordered=True)

# Sort DataFrame by categorical column
df_sorted = df.sort_values(by=[col_name])

# Display sorted data
print(df_sorted)

Enter file path:  data.csv

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [ ]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and 
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
# program should prompt the user to enter the file path and display the chart.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user to enter file path
file_path = input("Enter file path of the CSV file containing sales data: ")

# Read CSV file into a Pandas DataFrame
sales_data = pd.read_csv(file_path)

# Set the 'Date' column as the index
sales_data.set_index('Date', inplace=True)

# Create a stacked bar chart of product category sales over time
sales_data.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Product Category Sales Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Show the chart
plt.show()

Enter file path of the CSV file containing sales data:  services.csv

KeyError: "None of ['Date'] are in the columns"

In [ ]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
# displays the results in a table.
# The program should do the followingM
# I Prompt the user to enter the file path of the CSV file containing the student dataR
# I Read the CSV file into a Pandas DataFrameR
# I Calculate the mean, median, and mode of the test scores using Pandas toolsR
# I Display the mean, median, and mode in a table.

# Assume the CSV file contains the following columnsM
# I Student ID: The ID of the studentR
# I Test Score: The score of the student's test.
# Example usage of the program:

# Enter the file path of the CSV file containing the student data: student_data.csv


# +-----------+--------+

# | Statistic | Value  |

# +-----------+--------+

# | Mean      | 79.6   |

# | Median    | 82     |

# | Mode      | 85, 90 |

# +-----------+--------+


# Assume that the CSV file student_data.csv contains the following data:

# Student ID,Test Score

# 1,85

# 2,90

# 3,80

# 4,75

# 5,85

# 6,82

# 7,78

# 8,85

# 9,90

# 10,85


# The program should calculate the mean, median, and mode of the test scores and display the results 
# in a table.

In [8]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode()

# Display the mean, median, and mode in a table
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]})
print(results)

Enter the file path of the CSV file containing the student data:  services.csv

KeyError: 'Test Score'